<div class="container">
  <h1 class="text-center mt-5 mb-3">{{'Settings.title'|translate}}</h1>
  <form id="settingsForm" class="form-inline mt-5" (ngSubmit)="change_language()">
    <div class="form-group mx-sm-1 mb-2">
      <label class="form-group mx-sm-1">{{'Settings.languageLabel'|translate}}</label>
      <select class="form-control" [(ngModel)]="model.language" [ngModelOptions]="{standalone: true}" type="text"
        name="keyWord_input" id="keyWord_input">
        <option value="fr">Français</option>
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
    </div>
  </form>
  <div class="row">
    <button type="submit" onclick="document.getElementById('settingsForm').dispatchEvent(new Event('submit'))" class="btn btn-primary mt-2 col-4 mx-auto">{{'Settings.btnText'|translate}}</button>
  </div>
</div>
