
//Color Variables
$sidebar-background-color: #32475C;
$active-sidebar-link-color: #2B3E50;
$hover-sidebar-link-color: $active-sidebar-link-color;
$active-link-color: #DF691A;
$tooltip-background-color: $sidebar-background-color;



.sidebar-navigation {
	display: inline-block;
	min-height: 100vh;
	width: 80px;
	background-color: $sidebar-background-color;
	position: fixed;
    float: left;

	top: 0;
    margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	line-height: 1;
	
	ul {
		text-align: center;
        color: white;
        list-style: none;

        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        line-height: 1;
		
		li {
			padding: 28px 0;
			cursor: pointer;
			transition: all ease-out 120ms;
			
			i {
				display: block;
				font-size: 24px;

				transition: all ease 450ms;
			}
			
			.tooltip {
				display: inline-block;
				position: absolute;
				background-color: $tooltip-background-color;
				padding: 8px 15px;
				border-radius: 3px;
				margin-top: -26px;
				left: 90px;
				opacity: 0;
				visibility: hidden;
				font-size: 13px;
				letter-spacing: .5px;
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}
			
			&:hover {
				background-color: $hover-sidebar-link-color;
				
				.tooltip {
					visibility: visible;
					opacity: 1;
				}
			}
			
			&.active {
				background-color: $active-sidebar-link-color;
				
				i {
					color: $active-link-color;
				}
			}			
		}
	}
}