<nav class="sidebar-navigation">
	<ul>
		<li id="homeNav" routerLink="/">
			<i class="fa fa-home"></i>
			<span class="tooltip">{{'NavBar.homeNav'|translate}}</span>
		</li>
		<li id="searchNav" routerLink="/search">
			<i class="fas fa-search"></i>
			<span class="tooltip">{{'NavBar.searchNav'|translate}}</span>
		</li>
        <li id="settingsNav" routerLink="/settings">
			<i class="fa fa-gear"></i>
			<span class="tooltip">{{'NavBar.settingsNav'|translate}}</span>
		</li>
	</ul>
</nav>
