<div id="landingText" class="container">
  <h1 class="text-center mt-5 mb-3">{{ 'Home.title' | translate }}</h1>
  <p class="mt-5" [innerHTML]="'Home.text_1' | translate"></p>
  <ul>
    <li>{{ 'Home.li_1' | translate }}</li>
    <li>{{ 'Home.li_2' | translate }}</li>
    <li>{{ 'Home.li_3' | translate }}</li>
  </ul>
  <p [innerHTML]="'Home.text_2' | translate"></p>

</div>
