<div class="container-fluid">
  <h1 class="text-center mt-5 mb-5">{{'Search.title'|translate}}</h1>
  <div class="m-2">
    <form class="form-inline mt-3" (ngSubmit)="search_tweets()">
      <div class="form-group mx-sm-1 mb-2">
        <label class="form-group mx-sm-1" >{{'Search.keyWordLabel'|translate}}</label>
        <input class="form-control" [(ngModel)]="model.keyWord" [ngModelOptions]="{standalone: true}" type="text" name="keyWord_input"
          id="keyWord_input" [placeholder]="'Search.keyWordLabel' |translate">
      </div>
      <div class="form-group mx-sm-1 mb-2">
        <label class="form-group mx-sm-1" >{{'Search.tweetsCountLabel'|translate}}</label>
        <input class="form-control" [(ngModel)]="model.tweetsCount" [ngModelOptions]="{standalone: true}" type="number" min="1" max="100" name="tweetsCount_input"
          id="tweetsCount_input">
      </div>
      <button type="submit" class="btn btn-primary mb-2">{{'Search.btnText'|translate}}</button>
    </form>


    <h3 class="mt-3 mb-3">{{'Search.subtitle'|translate}}</h3>
    <div class="row">
      <img id="preloader" class="m-auto" src="assets/images/preloader.svg" alt="preloader">
      <app-tweet-card class="col-12 col-xl-4" *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet-card>
    </div>

  </div>
</div>
