/* You can add global styles to this file, and also import other style files */
//Basics
@import '~@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';

body {
    background-color: #2B3E50;
    color: white;
    margin: 0;
    padding: 0;
}