<figure class="twitter-card"><img src="{{tweet.user.profile_image_url_https}}"
    alt="profile image" width="110" height="110" />
  <figcaption>
    <a href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank"><strong>{{ tweet.user.name }}</strong> &nbsp; <label>@{{ tweet.user.screen_name }}</label></a>
    <h3>{{ tweet.text }}</h3>
    <a *ngIf="tweet.tweetLink != null" href="https://{{ tweet.tweetLink }}" target="_blank">https://{{ tweet.tweetLink }}</a>
  </figcaption>
</figure>
