.twitter-card {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    color: #000;
    text-align: left;
    font-size: 13px;
    background: #fff;
    border-radius: 5px;
  }
  
  .twitter-card img {
    max-width: 20%;
    margin-top: -15px;
    margin-left: 78%;
    margin-bottom: 15px;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #2B3E50;
  }
  
  .twitter-card figcaption {
    position: absolute;
    top: 0;
    right: 20%;
    left: 0;
    bottom: 0;
    padding: 10px;

    a{
      color: #DF691A;
      text-decoration: none;
    }

    label{
      color: gray;
      cursor: pointer;
    }
  }
  
  .twitter-card h3 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    width: 100%;
  }